.composition-section{
    text-align: center;
    margin-top: 2em;
}


.composition-disclaimer{
    font-weight: 300;
}

@media (min-width: 900px) {
    .spaced {
        display: flex;
        justify-content: space-evenly;
    }


}

